// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import _config.sass

/* Header
#navtop
  display: block
  float: right
  margin: 0 auto
  width: auto

#menu-top
  ul
    font-size: 11px
    font-weight: normal
    margin-top: 2px
    list-style: none

    li
      line-height: 11px
      padding: 0
      float: left
      list-style: none
      margin: 0

      a
        color: #5C5C5C
        display: block
        padding: 0 0 0 20px
        text-decoration: none

#donatenow
  float: right
  margin-top: 27px
  text-align: right

  a
    background: url('../images/bt.donate.png')
    height: 27px
    width: 115px
    display: block
    text-indent: -9999px

#search
  float: right
  margin-right: 20px
  margin-top: 29px
  line-height: 16px
  input
    border: 1px solid #D5D5D5
    color: #5D5D5D
    font-size: 13px
    padding: 2px
    padding-left: 3px
    width: 175px

#cwp-search-cwp-site
  .form-item
    margin: 0
  #edit-submit
    display: none

#branding
  height: 76px

  img
    margin-bottom: 5px
    margin-top: 5px

/* Main menu
#navbarsub
  display: block
  float: left
  margin: 0 auto
  position: relative
  width: 100%
  z-index: 500

  #navigation
    float: left
    margin-bottom: 0
    font-size: 15px
    font-weight: bold

    ul, ul.nice-menu-down
      margin: 0
      padding: 0

      li:hover
        background: url('../images/background.menu.main.over.jpg') repeat-x scroll center top #BBD2E3

      li.last a
        border-right: 1px solid #FFFFFF

      li
        background: url('../images/background.menu.main.jpg') repeat-x scroll center top #F9F9F9
        float: left
        position: relative
        border: none

        ul
          width: 250px
          top: 40px
          z-index: 99

          li.last
            border-bottom: 9px solid #93B9D8

          li:hover
            background: url('../images/background.menu.arrows.jpg') no-repeat scroll right top #BAD1E4
            color: #FFFFFF

          li
            background: none repeat scroll 0 0 #F8F8F8
            width: 250px

            a:hover
              color: #FFFFFF

            a
              color: #676767
              font-size: 12px
              line-height: 24px
              padding: 0 20px

            ul
              left: 250px
              top: 0

            li:hover
              background: none no-repeat scroll right top #CAD9E6

            li
              color: #FFFFFF
              background: none repeat scroll 0 0 #EFEFEF

              a
                color: #676767

        a
          border-left: 1px solid #FFFFFF
          color: #5D5D5D
          display: block
          line-height: 34px
          padding: 6px 20px 0
          text-decoration: none

#navbarright
  float: right
  font-size: 12px
  margin-top: 14px
  padding: 3px 10px
  .block
    float: right
  .block-text-resize
    h2
      font-size: 12px
      font-weight: normal
      margin: 0
      float: left
    div.content
      float: right
      a
        float: left
        margin: 0 0 0 10px
        cursor: pointer
      a#text_resize_decrease
        background: url('../images/bt.minus.png') no-repeat
      a#text_resize_increase
        background: url('../images/bt.plus.png') no-repeat
  .block-addthis
    border-left: 1px solid #D3D3D3
    padding: 0 0 0 10px
    margin: 0

/* Resources page
#block-cwp_resources-cwp_category_header
  div.resources-banner
    width: 540px
    float: left     
    .resources-banner-title
      color: #fff
      position: absolute
      left: 15px
      bottom: -15px
  .featured-resource
    float: left
    clear: none
    width: 236px
    height: 204px
    overflow: hidden
    border-top: 3px double #0F3F67
    border-bottom: 3px double #0F3F67
    padding: 2px
    margin: 2px 0 2px 20px
    .featured-header
      font-size: 16px
      border-bottom: 1px solid #EFEFEF
      padding: 8px 0
    .node-resource
      padding: 8px 0
    h2
      font-size: 18px
      font-weight: bold

div.block-facetapi, div#block-views--exp-cwp_resources-page
  background: #EFEFEF
  border-radius: 5px
  padding: 10px
  margin: 10px 0

#sidebar-first h2, .views-exposed-form label
  font-size: 15px
  font-weight: bold

ul.facetapi-facetapi-checkbox-links
  list-style: none outside none

  li, li.leaf
    list-style: none outside none
    margin: 0
    padding: 0

    a
      text-decoration: none

.view-cwp-resources
  .views-row
    border-top: 1px solid #efefef
    padding: 20px 5px
    .views-field-edit-node
      float: right
      width: 30px
      a
        &:link, &:visited
          text-decoration: none
          color: #BBEE77
        &:hover, &:active
          text-decoration: none
          color: #222222
    .views-field-field-category
      height: 20px
      .category,
      .province,
      .tags
        float: left
        margin: 8px 0
        ul
          list-style-type: none
          margin: 0
          li
            margin: 0 10px 0 0
            float: left
            a
              border-radius: 5px
              padding: 2px 8px
              margin: 0
              &:link, &:visited
                background-color: #efefef
              &:hover
                background-color: #cccccc
                text-decoration: none
      .category
        ul
          li
            a
              &:link, &:visited
                background-color: #ef812a
                color: #ffffff
              &:hover
                background-color: #dd6600
                text-decoration: none
    .views-field-url
      float: right
      span
        position: relative
        top: -10px
        padding-right: 10px
  .views-row-last
    border-bottom: 1px solid #efefef
  .pager
    margin: 15px

#edit-keywords-wrapper
  float: left
  width: 170px
  input
    width: 100%

#views-exposed-form-cwp-resources-page .views-submit-button
  display: none

/* Resource node page
.node-type-resource
  #content-area
    margin-bottom: 20px
  h1
    color: #0f3f67
  .node-resource
    .field
      margin: 5px 0
    .field-name-field-summary
      .field-items
        margin-bottom: 15px
    .field-name-field-category,
    .field-name-field-province,
    .field-name-field-resource-tags
      float: left
      margin: 8px 0
      div.field-item
        margin: 0 10px 0 0
        float: left
        a
          background-color: #efefef
          border-radius: 5px
          padding: 2px 8px
          margin: 0
    .field-name-field-category
      div.field-item
        a
          background-color: #ef812a
          color: #ffffff

#block-views-cwp_related_resources-block
  background: #EFEFEF
  border-radius: 5px
  padding: 10px
  margin: 10px 0
  h2
    font-size: 18px
    font-weight: bold
  .views-row
    border-top: 1px solid #ddd
    padding: 15px 0
  .views-row-last
    border-bottom: 1px solid #ddd

.tipsy
  .tipsy-inner
    padding: 5px 8px 5px 8px
    background-color: #0f3f67
    color: #fff
    font-size: 12px
    max-width: 300px
  .tipsy-arrow
    display: none

/* Footer region
.region-footer
  border-top: 1px solid #ef812a
  font-size: 12px
  line-height: 16px

#block-views-featured_content-footer
  margin: 10px 0
.view-featured-content
  margin-top: 10px
  .views-row-last
    margin-right: 0 !important
  .views-row
    float: left
    width: 240px
    margin-right: 37px
    .views-field-title
      color: #EF812A
      font-size: 12px
      font-weight: bold
      margin-bottom: 8px
    a
      text-decoration: none
      color: #0099CC
      a:link, a:visited
        text-decoration: none
        color: #0099CC
      &:hover, &:active
        text-decoration: underline
        color: #0099CC

/* Footer
#closing
  #social-media
    a
      text-decoration: none

/* Site admin links
.admin-resources-link
  background-color: #BBEE77
  color: #336600
  border-radius: 5px
  padding: 2px 8px
  margin: 0 10px 0 0
  &:link, &:visited
    color: #336600
  &:hover
    text-decoration: none
    background-color: #CCFF88

/* media widget
.media-widget
  .button
    background-color: #E4E4E4
    border-radius: 3px
    border: solid 1px  #AAAAAA
    padding: 2px 4px
    color: #555555
    &:link, &:visited
      text-decoration: none
    &:hover
      text-decoration: none
