/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 12px/1.5em Arial, helvetica, sans-serif;
  background: url("../images/background.sub.jpg") repeat-x scroll center top transparent;
  color: #5d5d5d; }

/* Regions */
#main {
  margin-top: 60px; }

#content {
  padding-left: 15px; }

#closing {
  border-top: 9px solid #0f3f67;
  color: #5d5d5d;
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  width: 100%; }
  #closing a {
    color: #ef812a;
    text-decoration: underline; }

/* Links */
a:link, a:visited {
  color: #0099cc;
  text-decoration: none; }

a:hover, a:active {
  color: #0099cc;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Header */
#navtop {
  display: block;
  float: right;
  margin: 0 auto;
  width: auto; }

#branding {
  height: 76px; }
  #branding img {
    margin-bottom: 5px;
    margin-top: 5px; }

/* Main menu */
#navbarsub {
  display: block;
  float: left;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 500; }
  #navbarsub #navigation {
    float: left;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold; }
    #navbarsub #navigation ul, #navbarsub #navigation ul.nice-menu-down {
      margin: 0;
      padding: 0; }
      #navbarsub #navigation ul li:hover, #navbarsub #navigation ul.nice-menu-down li:hover {
        background: url("../images/background.menu.main.over.jpg") repeat-x scroll center top #bbd2e3; }
      #navbarsub #navigation ul li.last a, #navbarsub #navigation ul.nice-menu-down li.last a {
        border-right: 1px solid white; }
      #navbarsub #navigation ul li, #navbarsub #navigation ul.nice-menu-down li {
        background: url("../images/background.menu.main.jpg") repeat-x scroll center top #f9f9f9;
        float: left;
        position: relative;
        border: none; }
        #navbarsub #navigation ul li ul, #navbarsub #navigation ul.nice-menu-down li ul {
          width: 250px;
          top: 40px;
          z-index: 99; }
          #navbarsub #navigation ul li ul li.last, #navbarsub #navigation ul.nice-menu-down li ul li.last {
            border-bottom: 9px solid #93b9d8; }
          #navbarsub #navigation ul li ul li:hover, #navbarsub #navigation ul.nice-menu-down li ul li:hover {
            background: url("../images/background.menu.arrows.jpg") no-repeat scroll right top #bad1e4;
            color: white; }
          #navbarsub #navigation ul li ul li, #navbarsub #navigation ul.nice-menu-down li ul li {
            background: none repeat scroll 0 0 #f8f8f8;
            width: 250px; }
            #navbarsub #navigation ul li ul li a:hover, #navbarsub #navigation ul.nice-menu-down li ul li a:hover {
              color: white; }
            #navbarsub #navigation ul li ul li a, #navbarsub #navigation ul.nice-menu-down li ul li a {
              color: #676767;
              font-size: 12px;
              line-height: 24px;
              padding: 0 20px; }
            #navbarsub #navigation ul li ul li ul, #navbarsub #navigation ul.nice-menu-down li ul li ul {
              left: 250px;
              top: 0; }
            #navbarsub #navigation ul li ul li li:hover, #navbarsub #navigation ul.nice-menu-down li ul li li:hover {
              background: none no-repeat scroll right top #cad9e6; }
            #navbarsub #navigation ul li ul li li, #navbarsub #navigation ul.nice-menu-down li ul li li {
              color: white;
              background: none repeat scroll 0 0 #efefef; }
              #navbarsub #navigation ul li ul li li a, #navbarsub #navigation ul.nice-menu-down li ul li li a {
                color: #676767; }
        #navbarsub #navigation ul li a, #navbarsub #navigation ul.nice-menu-down li a {
          border-left: 1px solid white;
          color: #5d5d5d;
          display: block;
          line-height: 34px;
          padding: 6px 20px 0;
          text-decoration: none; }

#menu-top ul {
  font-size: 11px;
  font-weight: normal;
  margin-top: 2px;
  list-style: none; }
  #menu-top ul li {
    line-height: 11px;
    padding: 0;
    float: left;
    list-style: none;
    margin: 0; }
    #menu-top ul li a {
      color: #5c5c5c;
      display: block;
      padding: 0 0 0 20px;
      text-decoration: none; }

#donatenow {
  float: right;
  margin-top: 27px;
  text-align: right; }
  #donatenow a {
    background: url("../images/bt.donate.png");
    height: 27px;
    width: 115px;
    display: block;
    text-indent: -9999px; }

#search {
  float: right;
  margin-right: 20px;
  margin-top: 29px; }

/* Resources page */
div.block-facetapi, div#block-views--exp-cwp_resources-page {
  background: #efefef;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0; }

#sidebar-first h2, .views-exposed-form label {
  font-size: 15px;
  font-weight: bold; }

ul.facetapi-facetapi-checkbox-links {
  list-style: none outside none; }
  ul.facetapi-facetapi-checkbox-links li, ul.facetapi-facetapi-checkbox-links li.leaf {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    ul.facetapi-facetapi-checkbox-links li a, ul.facetapi-facetapi-checkbox-links li.leaf a {
      text-decoration: none; }

.view-cwp-resources .views-row {
  border-top: 1px solid #0f3f67;
  padding: 20px 10px; }

#edit-keywords-wrapper input {
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
